<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.dp.goods.mapper.ClassMapper">

	<!-- Result Map -->
<!-- 	返回时用于变换 -->
	<resultMap id="BaseResultMap" type="ClassModel">
		<result column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="parcode" property="parcode" />
		<result column="des" property="des" />
	</resultMap>

	<!-- table all fields   sql片段 -->
	<sql id="Base_Column_List">
		id, code, name, parcode,des
	</sql>

<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="code != null and code != ''">
				and code like #{code} 
			</if>
			<if test="name != null and name != ''">
				and name like #{name}
			</if>
			<if test="parcode != null and parcode != ''">
				and parcode like #{parcode}
			</if>
			<if test="des != null and des != ''">
				and des like #{des}
			</if>
		
	</sql>


<!-- 	添加 -->
	<insert id="insert" parameterType="Object">
		insert into ssm_dp_0601.goodsclass(code,name,parcode,des)
		values(#{code}, #{name}, #{parcode},#{des})
	</insert>
<!-- 	删除 -->
	<delete id="delete" parameterType="String">
		delete from ssm_dp_0601.goodsclass where code = #{code}
	</delete>
<!-- 				按其他条件删除 -->
	<delete id="deleteModel" parameterType="Object">
		delete from ssm_dp_0601.goodsclass 
		<include refid="Example_Where_Clause" />
	</delete>
<!-- 	全部字段修改 -->
<update id="update" parameterType="Object">
		update ssm_dp_0601.goodsclass 
		set name=#{name},des=#{des},parcode=#{parcode}		
		where code=#{code}
</update>
<!-- 	部分字段修改 -->
<update id="updateActive" parameterType="Object">
		update ssm_dp_0601.goodsclass set
		<trim suffixOverrides=",">
			<if test="name!=null and name !='' ">
				name=#{name},
			</if>
			<if test="parcode!=null and parcode !='' ">
				parcode=#{parcode},
			</if>
			<if test="des!=null and des !='' ">
				des=#{des},
			</if>
		</trim>
			where code=#{code}
	</update>		
	
		<!-- 根据主键查询 系统用户 -->
	<select id="selectId" resultMap="BaseResultMap" parameterType="String">
		select <include refid="Base_Column_List" />
		from ssm_dp_0601.goodsclass where code = #{code}
	</select>

	<!-- 系统用户 列表总数 -->
	<select id="selectCount" resultType="java.lang.Integer" 
	parameterType="ClassModel">
		select count(1) from ssm_dp_0601.goodsclass 
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 查询系统用户列表 -->
	<select id="selectModel" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from ssm_dp_0601.goodsclass
		<include refid="Example_Where_Clause" />
		 limit #{rowStart},#{pageLimit}

	</select>
		<!-- 查询系统用户列表  （和上面的比，一个有lim，一个没有）-->
	<select id="selectModelOut" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from ssm_dp_0601.goodsclass
		<include refid="Example_Where_Clause" />
		

	</select>
	
	<!-- 查询系统用户列表 -->
	<select id="selectAll" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from ssm_dp_0601.goodsclass
		<include refid="Example_Where_Clause" />
		 limit #{rowStart},#{pageLimit}
<!-- 		<if test="pager.orderCondition != null and pager.orderCondition != ''"> -->
<!-- 			${pager.orderCondition} -->
<!-- 		</if> -->
	</select>
</mapper>   
